<section class="dashboard">
    <h1>{{$t('dashboard_header')}}</h1>
    <!-- <p>{{formattedI18n('dashboard_desc')}}</p> -->
    <FormattedI18n :text_key="'dashboard_desc'" @onClick="handleClick"></FormattedI18n>
    <FormattedI18n :text_key="'dashboard_definition'" @onClick="handleClick2"></FormattedI18n>
    <div>
        切換語言：
        <select @change="handleChangeLanguage">
            <option value="en-US">English</option>
            <option value="zh-TW">中文</option>
        </select>
    </div>
</section>
